
:root {
  --primary-color: #6a11cb;
  --secondary-color: #2575fc;
  --background-color: #f0f4f8;
  --form-background: #ffffff;
  --text-color: #333333;
  --input-border-color: #dcdcdc;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
}

body {
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding-top: 2vh;
}

.login-form {
  background-color: var(--form-background);
  padding: 40px 70px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin-top: -60px;
}

.login-logo {
  margin-top: 0.2px;  
  width: 150px;
  height: 150px;
  margin-bottom: 0.2px;
}

.login-form h2 {
  margin-bottom: 20px;
  color: var(--text-color);
}

.login-form .form-group {
  margin-bottom: 15px;
  text-align: left;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  color: var(--text-color);
}

.login-form input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid var(--input-border-color);
  border-radius: 10px;
  font-size: 14px;
}

.login-form .form-group.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.login-form .form-group.remember-me input {
  width: auto;
  margin-right: 10px;
}

.login-form .form-group.remember-me label {
  margin-bottom: 0;
}

.login-form button {
  width: 100%;
  padding: 12px 18px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.login-form button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 26px rgba(74, 144, 226, 0.3);
}

.toggle-button {
  margin-top: 20px;
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: underline;
}

.login-form h1 {
  margin-bottom: 10px;
  color: var(--primary-color);
}
